<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- userService begin -->
	<bean id="userService" class="com.hpugs.service.impl.LogServiceImpl">
		<property name="logUserLoginDao" ref="logUserLoginDao"></property>
		<property name="logSmsSendDao" ref="logSmsSendDao"></property>
	</bean>
	<!-- userService begin -->
	
	<!-- logUserLoginDao begin -->
	<bean id="logUserLoginDao" class="com.hpugs.dao.impl.LogUserLoginDaoImpl" parent="baseDao"></bean>
	<!-- logUserLoginDao begin -->
	
	<!-- logSmsSendDao begin -->
	<bean id="logSmsSendDao" class="com.hpugs.dao.impl.LogSmsSendDaoImpl" parent="baseDao"></bean>
	<!-- logSmsSendDao begin -->
	   
</beans>
